@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits:false;
}

:root{
  --c-h:65vh;
  --c-w:calc(var(--c-h) / 1.5);
}

.card{
  margin: 20px 10px;
  background: #191c29;
  width: var(--c-w);
  height: var(--c-h);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.8rem;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card:hover{
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
}
.card:hover::before, .card:hover::after{
  animation: none;
  opacity: 0;
  -webkit-animation: none;
}

.card::before{
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-animation: spin 2.5s linear infinite;
}

.card::after{
  position: absolute;
  content:"";
  top: calc(var(--c-h) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--c-h) / 6));
  background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-filter: blur(calc(var(--c-h / 6)));
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate:0deg;
  }
  100% {
    --rotate:360deg;
  }
}